<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/users/login" method="POST">
    <h2>Login</h2>
    <p>Please fill out the form below.</p>
    <%- include('./partials/messages'); %>
    
    <div>
        <label for="email"><b>E-mail</b></label>
        <input type="text" placeholder="Enter your e-mail" name="email" id="email" required>
    </div>
    
    
    <div>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter your password" name="password" id="password" required>
    </div>

    <button type="submit">Login</button>

    </form>
    <p class="lead mt-4"></p>No account? <a href="/users/register">Create a new account</a></p>
    
</body>
</html>