<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

<body>
    <h1>Welcome</h1>    
    <h3>Please choose an option:</h3>
    
    <a href="/users/login">
    <button type="button">Login</button>
</a>
<a href="users/register">
    <button type="button">Register</button>
</a>
</body>
</html>